{% extends 'app/base.html' %}
{% load static %}
{% block title%}home{% endblock title%}


{% block banner_slider%}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/b51.jpeg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b61.jpeg'%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b71.jpeg'%}" class="d-block w-100" alt="...">
      </div>
     
    </div>
  </div>
{% endblock banner_slider%}


{% block information%}
<div class="container">
    <div class="row bg-success text-center p-5 text-white border-bottom shadow">
        <h1>PetDekho</h1>
</div>
</div>

{% endblock information%}

{% block main-content%}
<div class="container">
    <h1 class="text-center">Featured Products</h1>
    <br><br>
    <div class="row container">
        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s"
        data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s;
        animation-name:none;">
        <div class="goodnessec buttermilk smbg">
            <a href="{%url 'category' 'FO'%}">
        <div class="goodnesssecant text-center">
            <img src="{% static 'app/images/banner/Paratha.png'%}" class="img-responsive center-block" alt="" height="300" width="400">
            <p class="mlkpro">hypro Dog Food</p>
        </div></a></div></div>
    



       
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s"
            data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s;
            animation-name:none;">
            <div class="goodnessec buttermilk smbg">
                <a href="{%url 'category' 'ES'%}">
            <div class="goodnesssecant text-center">
                <img src="{% static 'app/images/banner/chick.jpg'%}" class="img-responsive center-block" alt="" height="300" width="400">
                <p class="mlkpro">Dog House</p>
            </div></a></div></div>
        



                <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s"
                data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s;
                animation-name:none;">
                <div class="goodnessec buttermilk smbg">
                    <a href="{%url 'category' 'ES'%}">
                <div class="goodnesssecant text-center">
                    <img src="{% static 'app/images/banner/biryani.jpg'%}" class="img-responsive center-block" alt="" height="300" width="400">
                    <p class="mlkpro">Bioline Cat Shampoo</p>
                </div></a></div></div>
            </div>
            <br/><br/>


            <br><br>

            <div class="row container">
                <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s"
                data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s;
                animation-name:none;">
                <div class="goodnessec buttermilk smbg">
                    <a href="{%url 'category' 'FO'%}">
                <div class="goodnesssecant text-center">
                    <img src="{% static 'app/images/banner/beefk.jpg'%}" class="img-responsive center-block" alt="" height="300" width="400">
                    <p class="mlkpro">KAYTEE Bird Food</p>
                </div></a></div></div>
            
        
        
        
               
                    <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s"
                    data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s;
                    animation-name:none;">
                    <div class="goodnessec buttermilk smbg">
                        <a href="{%url 'category' 'AC'%}">
                    <div class="goodnesssecant text-center">
                        <img src="{% static 'app/images/banner/chicks.jfif'%}" class="img-responsive center-block" alt="" height="300" width="400">
                        <p class="mlkpro">Fish Aquarium</p>
                    </div></a></div></div>
                
        
        
        
                        <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s"
                        data-wow-delay="0.6s" style="animation-duration:1s; animation-delay:0.6s;
                        animation-name:none;">
                        <div class="goodnessec buttermilk smbg">
                            <a href="{%url 'category' 'FO'%}">
                        <div class="goodnesssecant text-center">
                            <img src="{% static 'app/images/banner/muttonb.jpg'%}" class="img-responsive center-block" alt="" height="300" width="400">
                            <p class="mlkpro">Hamster Food</p>
                        </div></a></div></div>
    
    

    
    

{% endblock main-content%}